body{
	font-family:helvetica, arial, sans-serif;
	background-color: #ffcccc;
	width: 1000px;
	margin: 0 auto;
	font-size: 16px;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	padding: 20px 0;
	color: #222;
	text-align: center;
}	

	img{
		float: right;
		width: 100px;
		height: 100px;
	}
header{

	text-align: center;

}

